footer {
    font-size: 10px;
    padding-top: 20px;
}

.status-tag {
    display: inline-block;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    font-size: 11px;
}

.header-text {
    font-size: 14px;
    font-weight: 500;
    color: #202020;
}

.app-text {
    font-size: 13px;
    color: #404040;
}

.table-row {
    padding-bottom: 10px;
}

.table-attribute-col {
    text-align: right;
    padding: 5px;
    font-weight: 600;
    width: 25%;
    color: #202020;
}

.grey-border {
    border-color: #909090!important;
}
